.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
    padding: 160px 195px;


}
.main-left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 0 0;
    width: 510px;
    height: 222px;
    margin-left: 65px;
}
.main-left-container h2 {
    padding: 20px 0;
}
.bellow-main {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;
    width: 150px;
    height: 77px;
}
.main-right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-right: 65px ;
    border-radius: 16px;
    background-color: #2d2d2d;
    width: fit-content;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.ntf-img {
    width: 510px;
    height: 401px;
}
.nft-info {
    display: flex;
    height: 109px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
}


@media (max-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 30px;
        padding: 160px 195px;
    }
    .main-left-container h2 {
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        text-transform: capitalize;
    }
    .main-left-container span {
        font-family: work sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
    .bellow-main h2 {
        font-family: "Space Mono";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        text-transform: capitalize;
    }
    .bellow-main span {
        font-family: "work sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
    .nft-card {
        width: 330px;
        height: auto;
        background-color: #3a3a3a;
        border-radius: 16px;
        overflow: hidden;
    }
    .nft-img {
        width: 330px;
        height: 221px;
        object-fit: cover;
    }
    .nft-title {
        margin: 12px 16px 0;
        font-size: 22px;
        line-height: 140%;
    }
    .nft-artist {
        width: 330px;
        height: 109px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .nft-avatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
}
@media (max-width: 767px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .main-left-container h2 {
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
    }
    .main-left-container span {
        font-family: work sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
    .bellow-main h2 {
        font-family: "Space Mono";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        text-transform: capitalize;
    }
    .bellow-main span {
        font-family: "work sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
    .nft-card {
        width: 315px;
        height: auto;
        background-color: #3a3a3a;
        border-radius: 16px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        align-self: stretch;
    }
    .nft-img {
        width: 315px;
        height: 206px;
        object-fit: cover;
    }
    .nft-title {
        margin: 12px 16px 0;
        font-size: 22px;
        line-height: 140%;
    }
    .nft-artist {
        width: 315px;
        height: 109px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .nft-avatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

}