*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background: #3B3B3B;
}
.primary-color {
    color: #FFFFFF;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.d-flex {
    display: flex;
}
.text-align-center{
    align-items: center;
}
.align-items-flex-start {
    align-items: center;
}
.align-self-stretch {
    align-self: stretch;
}

.font-family {
    font-family: 'Work Sans', sans-serif;
}
.font-size-12 {
    font-size: 12px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-22 {
    font-size: 22px;
}
.font-size-38 {
    font-size: 38px;
}
.font-size-48 {
    font-size: 48px;
}
.font-size-67 {
    font-size: 67px;
}
.font-style {
    font-style: normal;
}
.font-weight-bold {
    font-weight: bold;
}
.font-weight-normal {
    font-weight: normal;
}
.font-weight-light {
    font-weight: lighter;
}
.line-height-160{
    line-height: 160%;
}
.pa-4 {
    padding: 8px;
}
.color-white {
    color: #FFFFFF;
}
.color-grey {
    color: #CCC;
}
.gap-10 {
    gap: 10px;
}
.gap-12 {
    gap: 12px;
}
.font-weight-400 {
    font-weight: 400;
}
.font-weight-600 {
    font-weight: 600;
}
.line-height-120 {
    line-height: 120%;
}
.line-height-140 {
    line-height: 140%;
}
.text-transform-uppercase {
    text-transform: capitalize;
}
