.banner {
    background-image: url("./img/z6508522293520_72a70299a49668ede9872514a5eb4f14.jpg");
    height: 615px;
    /*width: 100%;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.invitation {
    border-bottom: 1px solid #333;
    box-shadow: 0 0 2px #ccc;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 991px) {
    .banner {
        background-image: url("./img/taplet.jpg");
        height: 615px;
    }
    .invitation {
        width: 100%;
        left: 0;
        top: 20px;
        transform: initial;
    }
}
@media screen and (max-width: 767px) {
    .banner {
        background-image: url("./img/mobile.jpg");
    }
}